# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/

# Data Files (Large CSVs - DO NOT UPLOAD)
data/*.csv
data/spark_staging/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Spark temp
spark-warehouse/
metastore_db/
derby.log